$colorTitulo: rgb(250, 243, 243);
$posicionTitulo: center;
$letraTitulo: Arial, Helvetica, sans-serif ;
$sizeTitulo: 20px;
$colorFondoTitulo:rgb(6, 65, 6);


$colorParrafo: rgb(252, 249, 249);
$posicionParrafo: center;
$letraParrafo:initial;
$sizeParrafo: 20px;
