$colorTitulo: rgb(250, 243, 243);
$posicionTitulo: center;
$letraTitulo: Arial, Helvetica, sans-serif ;
$sizeTitulo: 40px;
$colorFondoTitulo:rgb(6, 65, 6);


$colorParrafo: white;
$posicionParrafo: center;
$letraParrafo:initial;
$sizeParrafo: 20px;
