
@import "variables.scss";


@mixin tituloH1($colorTitulo , $colorFondoTitulo , $letraTitulo) {
    

    width: 20%;
    font-size: $sizeTitulo;
    font-family:$letraTitulo ;
    margin: auto;
    margin-bottom: 50px;
    text-align: $posicionTitulo;
    margin-top: 30px;
    color: $colorTitulo;
    background-color: $colorFondoTitulo;
}


.bio{
    text-align: $posicionParrafo;
    font-size: $sizeParrafo;
    font-family: $letraParrafo;
    color: $colorParrafo;
    
    
}


h1{
    @include tituloH1(white,rgb(6, 65, 6),Arial)

}

.tituloPrincipal{
    @include tituloH1(white,rgb(5, 54, 5) , verdana )
}


.lema{
    @extend .bio;
    font-size: 50px;
    font-family:fantasy;
    

    

}