
@import "variables.scss";


h1{
    width: 25%;
    font-size: $sizeTitulo;
    font-family:$letraTitulo ;
    margin: auto;
    margin-bottom: 50px;
    text-align: $posicionTitulo;
    margin-top: 30px;
    color: $colorTitulo;
    background-color: $colorFondoTitulo;
}


p{
    text-align: $posicionParrafo;
    font-size: $sizeParrafo;
    font-family: $letraParrafo;
    color: $colorParrafo;
    
}