.bio, .lema {
  text-align: center;
  font-size: 20px;
  font-family: arial;
  color: #fcf9f9; }

h1 {
  width: 20%;
  font-size: 20px;
  font-family: Arial;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 30px;
  color: white;
  background-color: #064106; }

.tituloPrincipal {
  width: 20%;
  font-size: 20px;
  font-family: verdana;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 30px;
  color: white;
  background-color: #053605; }

.lema {
  font-size: 50px;
  font-family: fantasy; }
